html,body{
	background: #EEE;
	background: url(../img/headerbg.png) center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.clearfix{clear: both;}
@font-face{
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Bold.otf);
	font-style: normal;
	font-weight: bold;
}
@font-face{
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Italic.otf);
	font-style: italic;
	font-weight: bold;
}
@font-face{
	font-family: Quicksand;
	src: url(../fonts/Quicksand-BoldItalic.otf);
	font-style: italic;
	font-weight: normal;
}
*{}
.left{float: left;}
.right{float: right;}
nav{font-family: Quicksand;
	width: 100%;
	position: fixed;
	background: #333;
	box-shadow: rgba(0,0,0,0.4) 0 0 15px 0;
	z-index: 999;
}
nav>div{margin: 0 50px;}
nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav ul li{
	color:#AAA;
	display: inline;
	padding: 7px 15px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
nav ul li:hover{
	background: #444;
	color: #DDD;
	cursor: pointer;
}
.banner{
	background: rgba(40,40,60,0.6);
	color: #FFF;
	text-shadow: rgba(100,100,100,0.5) 1px 1px;
	text-align: center;
}
.banner h1{
	font-weight: normal;
	padding: 350px 0 20px 0;
	margin: 0;
}
.not-nav{padding-top: 33px;}
main{
	background: rgba(255,255,255,0.9);
	padding: 50px 10%;
	min-height: 550px;
	margin-bottom: 10px;
}
.subtitle{
	background: rgba(0,0,0,0.05);
	padding: 4px 0;
	border: solid rgba(0,0,0,0.2) 1px;
	border-left: 0;
	border-right: 0;
	border-radius: 10%;
	text-align: center;
}
footer{
	height: 670px;
	text-align: center;
	color: rgba(180,180,180,0.8);
	background: rgba(42,40,40,0.66);
}
footer>div{
	padding: 100px 0 0 0;
}
footer img{
	opacity: 0.2;
	height: 250px;
	margin: 50px;
}