html,body{
	background: #EEE;
	background: url(../img/headerbg.png) center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.clearfix{clear: both;}
@font-face{
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.otf);
}
*{font-family: Quicksand;}
.left{float: left;}
.right{float: right;}
nav{
	width: 100%;
	position: fixed;
	background: #333;
	box-shadow: rgba(0,0,0,0.4) 0 0 15px 0;
}
nav>div{margin: 0 50px;}
nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav ul li{
	color:#DDD;
	display: inline;
	padding: 7px 15px;
}
nav ul li:hover{
	background: #555;
	color: #EEE;
	cursor: pointer;
}
.banner{
	color: #FFF;
	text-shadow: #889 2px 2px;
	text-align: center;
}
.banner h1{
	padding: 350px 0 20px 0;
	margin: 0;
}
.not-nav{padding-top: 33px;}
main{
	background: rgba(220,220,220,0.9);
	padding: 50px 10%;
	min-height: 550px;
}
.subtitle{
	background: rgba(0,0,0,0.05);
	padding: 4px 0;
	border: solid rgba(0,0,0,0.2) 1px;
	border-left: 0;
	border-right: 0;
	border-radius: 10%;
	text-align: center;
}
footer{
	padding: 100px 0 350px 0;
	text-align: center;
	color: rgba(22,20,45,0.8);
	background: rgba(42,40,95,0.2);
}