.art-brahmanandam 
{
    color: #086A87;
    font-size: 25px;
}
.for_saroj_contacts 
{
    color: #086A87;
    font-size: 15px;
    padding-left: 10px;
}
.art-logo 
{
    text-align: center;
    padding-left:240px;
    font-size: 20px;
    font-family: my-font;
    color:#7691AD;
}
.for_venu_contacts
{
    color: #086A87;
    font-size: 15px;
    padding: 15px;
      
}