.row {
	vertical-align: top;
	height: auto !important;
}
.list {
	display: none;
}
.show {
	display: none;
}
.hide:target+.show {
	display: inline;
}
.hide:target {
	display: none;
}
.hide:target  ~ .list {
	display: inline;
}
@media print {
	.hide,.show {
		display: none;
	}
}
.tender-applications{
	border: 1px solid #CCC;
}
.tender-application{
	margin-bottom: 15px;
}
.tender-application a{
	color: inherit;
	text-decoration: none;
}
.tender-application .title{
	padding: 5px 15px;
	background: #66666e;
	color: #EEE;
}
.tender-application .row{
	padding: 15px;
}
